/* Footer Container */
.creative-footer-3d {
    position: relative;
    color: #ffffff;
    padding: 50px 20px;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
}

/* Footer Content */
.creative-footer-3d .footer-content h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 15px;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.9);
}

.creative-footer-3d .footer-content p {
    font-size: 18px;
    margin: 0 auto;
    max-width: 600px;
    text-shadow: 0 3px 4px rgba(0, 0, 0, 0.9);
}

/* Social Icons */
.creative-footer-3d .social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.creative-footer-3d .icon {
    width: 50px;
    height: 50px;
    display: block;
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5), -5px -5px 15px rgba(255, 255, 255, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.creative-footer-3d .icon:hover {
    transform: scale(1.2);
    box-shadow: 0 0 10px #071241, 0 0 30px #05bcff;
}

.creative-footer-3d .facebook {
    background-image: url('https://cdn-icons-png.flaticon.com/512/733/733547.png');
    background-size: cover;
}

.creative-footer-3d .linkedin {
    background-image: url('https://th.bing.com/th/id/OIP.pv_d346d90OkR_buglE6jgHaHa?rs=1&pid=ImgDetMain');
    background-size: cover;
}

.creative-footer-3d .twitter {
    background-image: url('https://cdn-icons-png.flaticon.com/512/733/733579.png');
    background-size: cover;
}

/* 3D Decoration */
.footer-3d-decoration {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 120%;
    height: 50px;
    background: linear-gradient(90deg, #4ccace, #160767, #2c3b9b);
    box-shadow: 0 10px 30px rgba(67, 213, 223, 0.5);
    border-radius: 50%;
    animation: floating 5s infinite ease-in-out;
}
.newsreader {
    font-family: "DM Serif Text", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
    font-size: 2.5vh;
    color: rgb(235, 224, 239);
    margin-left: 2vh;
    letter-spacing: 0.05vhx;
}
/* Floating Animation */
@keyframes floating {
    0%,
    100% {
        transform: translateX(-50%) translateY(0);
    }

    50% {
        transform: translateX(-50%) translateY(-20px);
    }
}
/* Footer Copyright */
.footer-copyright {
    background: var(--secondary-color);
    color: #ddebef;
    /* Texte doux pour ne pas distraire */
    font-size: 14px;
    /* Taille réduite */
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -2px 10px rgba(51, 182, 189, 0.2);
    margin-top: 20px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}