<footer class="creative-footer-3d">
    <div class="footer-content">
        <h2 class="mogra-regular">Sentinel Cloud </h2>
        <p class="mogra-regular">Inspirez, explorez et transformez votre vie.</p>
        <div class="social-icons">
            <a href="https://facebook.com" target="_blank" class="icon facebook" aria-label="Facebook"></a>
            <a href="https://twitter.com" target="_blank" class="icon twitter" aria-label="twitter"></a>
            <a href="https://linkedin.com" target="_blank" class="icon linkedin" aria-label="linkedin"></a>
        </div>
    </div>
    <div class="footer-3d-decoration"></div>
</footer>
<div class="footer-copyright">
    &copy; 2024. Tous droits réservés.
</div>