
<div  class="action-buttons" style="display: flex; flex-direction: column; gap: 20px; align-items: center;justify-content: center;">
    <button (click)="navigateTo('add-department')" class="styled-button">  <i data-lucide="plus"></i> Add department</button>
    <button (click)="navigateTo('edit-department')" class="styled-button"><i data-lucide="edit-2"></i>  Edit department</button>
    <button (click)="navigateTo('list-department')" class="styled-button"><i data-lucide="building-2"></i>  list department</button>
    <button (click)="navigateTo('remove-department')" class="styled-button"> <i data-lucide="minus"></i> Remove department</button>

  </div>