    
<app-navbar></app-navbar>
<div class="home">
<div class="SplineBackground">
    <div class="floatingClouds">
        <app-floating-clouds></app-floating-clouds>
    </div>
    <spline-viewer url="https://prod.spline.design/vEDZ3rdV71qzzJt1/scene.splinecode"></spline-viewer>
</div>
<app-animatedbutton></app-animatedbutton>
</div>


<div class="homeCore">
  <app-home-core></app-home-core>
  <section class="contact-section">
    <div class="contact-content">
        <h2>Having questions?</h2>
        <p>
            Do consectetur proident proident id eiusmod deserunt consequat pariatur ad est velit do Lorem reprehenderit.
        </p>
        <a href="#" class="contact-button">Contact sales</a>
    </div>
    <div class="contact-image">
        <img src="your-image-path.jpg" alt="Phone in hand" />
    </div>
  </section>

<app-footer></app-footer>
</div>
