    
<app-navbar></app-navbar>
<div class="home">
<div class="SplineBackground">
    <div class="floatingClouds">
        <app-floating-clouds></app-floating-clouds>
    </div>
    <spline-viewer url="https://prod.spline.design/vEDZ3rdV71qzzJt1/scene.splinecode"></spline-viewer>
    <div class="box">
        <p class="dm-serif-text-regular">Sentinel Cloud </p>
        <p class="newsreader">&nbsp;&nbsp;&nbsp;Securely store, share, and collaborate on your sensitive data.</p>
        <p class="newsreader">&nbsp;&nbsp;&nbsp;Encrypted, private, and built on trust for complete control.</p>
        <p class="newsreader">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Your documents,Your rules, Always in your hands.</p>
    </div>
    <div class="services">
       <h2></h2>
    </div>
    
    <app-animatedbutton></app-animatedbutton>
</div>

</div>


<div class="homeCore">
  <app-home-core></app-home-core>
  
  <app-footer></app-footer>
</div>
