<div class="sign-in">
    <form class="login-form">
        <div class="form-heading">Sign in </div>
        <div class="input-group">
            <label class="label" for="email">Email</label>
            <input required="" placeholder="Enter your email" name="email" id="email" type="email" />
        </div>
        <div class="input-group">
            <label class="label" for="password">Password</label>
            <input required="" placeholder="Enter your password" name="password" id="password" type="password" />
        </div>
        <div class="forgot-password">
            <a href="#">Forgot password?</a>
        </div>
        <button class="submit" type="submit">Log In</button>
        <div class="signup-link"> Don't have an account? <a href="/sign-up">Sign up</a>
        </div>
    </form>
</div>
