<div class="pricing">
    <app-navbar></app-navbar>
    <main>
        <h2>Pricing</h2>
        <p>Delivering a cutting-edge, secure, and intuitive document management solution.</p>
        <div class="toggle-switch">
            <button id="monthly" class="active">Monthly</button>
            <button id="yearly">Yearly</button>
        </div>
        <section class="pricing-container">
            <div class="plan personal">
                <h3>Personal</h3>
                <p>Perfect for side projects</p>
                <h4>$35<span>/month</span></h4>
                <ul>
                    <li>✔ 50GB Storage</li>
                    <li>✔ 7-day free trial</li>
                    <li>✖ Smart analytics</li>
                </ul>
                <button class="upgrade-btn">Upgrade</button>
            </div>
            <div class="plan startup popular">
                <h3>Startup</h3>
                <p>Perfect for small teams</p>
                <h4>$150<span>/month</span></h4>
                <ul>
                    <li>✔ Up to 50 users</li>
                    <li>✔ Collaboration features</li>
                    <li>✔ Smart analytics</li>
                    <li>✔ 30-day free trial</li>
                </ul>
                <button class="upgrade-btn">Upgrade</button>
            </div>
            <div class="plan organization">
                <h3>Organization</h3>
                <p>Perfect for organizations</p>
                <h4>$300<span>/month</span></h4>
                <ul>
                    <li>✔ Unlimited users</li>
                    <li>✔ Collaboration features</li>
                    <li>✔ Smart analytics</li>
                    <li>✔ 30-day free trial</li>
                </ul>
                <button class="upgrade-btn">Upgrade</button>
            </div>
        </section>
    </main>
    <footer>
        <button class="contact-sale">Contact Sale</button>
    </footer>
    
</div>