<!-- user-form.component.html -->


  <div  class="action-buttons" style="display: flex; flex-direction: column; gap: 20px; align-items: center;justify-content: center;">
    <button (click)="navigateTo('add')" class="styled-button">  <i data-lucide="user-plus"></i>          Add Employee</button>
    <button (click)="navigateTo('edit')" class="styled-button"><i data-lucide="edit-2"></i>  Edit Employee</button>
    <button (click)="navigateTo('list')" class="styled-button"><i data-lucide="users"></i>  list Employee</button>
    <button (click)="navigateTo('remove')" class="styled-button"> <i data-lucide="user-minus"></i> Remove Employee</button>

  </div>
  
  
