/*  stars */
// Define a keyframe animation for stars
@keyframes animStar {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(2000px);
    }
}

// Function to generate multiple box-shadow values for stars
@function multiple-box-shadow($number_of_stars) {
    $value: "#{random(2000)}px #{random(2000)}px #FFF"; // Initial shadow

    @for $i from 2 through $number_of_stars {
        $value: "#{$value}, #{random(2000)}px #{random(2000)}px #FFF"; // Add more shadows
    }

    @return unquote($value); // Return the concatenated value
}

// Generate different sets of box-shadow values for stars of varying sizes
$shadows-small: multiple-box-shadow(700); // Small stars
$shadows-medium: multiple-box-shadow(200); // Medium stars
$shadows-big: multiple-box-shadow(100); // Big stars

// Styling for the star layers container
.star-layers {
    width: 100%;
    height: 100vw;
    overflow: hidden;
    transform: translate(0, -7%);

    // Styling for each star layer
    .star-layer {
            position: absolute;
            width: 1px;
            height: 1px;
            background: transparent;
            margin-top: 1%;
    
            &::after {
                content: " ";
                position: absolute;
                top: 2000px;
                width: 1px;
                height: 1px;
                background: transparent;
            }
        }
    
        // Appliquer le style aux différentes tailles d'étoiles
        #stars,
        #stars::after {
            box-shadow: $shadows-small;
            animation: animStar 50s linear infinite;
            border-radius: 50%;
            filter: blur(0.8px);
        }
    
        #stars2,
        #stars2::after {
            width: 2px;
            height: 2px;
            box-shadow: $shadows-medium;
            animation: animStar 100s linear infinite;
            border-radius: 50%;
            filter: blur(1px);
        }
    
        #stars3,
        #stars3::after {
            width: 3px;
            height: 3px;
            box-shadow: $shadows-big;
            animation: animStar 150s linear infinite;
            border-radius: 50%;
            filter: blur(1.2px);
        }
    }