<div class="star-layers">
    <div class="star-layer" id="stars"></div>
    <div class="star-layer" id="stars2"></div>
    <div class="star-layer" id="stars3"></div>


     <!--<section class="services-section">
        <h2>Nos Services</h2>
        <div class="services-container">
            <div class="service-card" data-aos="fade-up">Service 1</div>
            <div class="service-card"data-aos="fade-up" >Service 2</div>
            <div class="service-card" data-aos="fade-up">Service 3</div>
        </div>
    </section>-->


    <section class="contact-section">
        <div class="contact-content ">
            <h2> Having questions?</h2>
            <p>
                Your documents deserve better than risk.<br>
                With Sentinel Cloud, store your confidential files in a reliable and highly secure environment.<br>
                ✨ Let’s talk about your needs.
            </p>
            <a href="#" class="contact-button">Contact sales</a>
        </div>
        <div class="contact-image">
            <img src="assets/images/contact.jpg" alt="questions Section" />
        </div>
    </section>
</div>

<script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
<script>
    AOS.init();
</script>
