.dynamic-content {
    flex-grow: 1;
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 12px;
    box-shadow: 0 0 10px #7a00cc;
    margin-top: 4.5rem;
    width:30rem;
   
    
  }
 