
body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.MFA {
    width: 100%;
    height: 100vh;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-image: url("../../.././assets/images/gradient-background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.otp-Form {
    width: 400px;
    height: 330px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    gap: 20px;
    position: relative;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.082);
    border-radius: 15px;
    animation: fadeIn 1.5s ease-out;
    
}

.mainHeading {
    font-size: 2em;
    color: rgb(20, 6, 50);
    font-weight: 700;
}

.otpSubheading {
    font-size: 1em;
    color: black;
    line-height: 17px;
    text-align: center;
}

.inputContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.otp-input {
    background-color: rgb(228, 228, 228);
    width: 250px;
    height: 30px;
    text-align: center;
    border: none;
    border-radius: 7px;
    caret-color: rgb(127, 129, 255);
    color: rgb(44, 44, 44);
    outline: none;
    font-weight: 600;
}

.otp-input:focus,
.otp-input:valid {
    background-color: rgba(127, 129, 255, 0.199);
    transition-duration: .3s;
}

.verifyButton {
    width: 40%;
    height: 40px;
    border: none;
    background-color: rgb(127, 129, 255);
    color: white;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
    transition-duration: .2s;
}

.verifyButton:hover {
    background-color: rgb(144, 145, 255);
    transition-duration: .2s;
}
.resendNote {
    font-size: 0.9em;
    color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.resendBtn {
    background-color: transparent;
    border: none;
    color: rgb(127, 129, 255);
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 700;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-width: 480px) {
    .otp-Form {
        padding: 30px;
        width: 90%;
    }

    .mainHeading {
        font-size: 1.5rem;
    }
}